/* Universal CSS */
* {
  margin: 0;
  padding: 0;
}
.btn-primary {
  background-color: #ff900e;
  padding: 10px 20px;
  color: white;
  border: 1px solid #ff900e;
  border-radius: 5px;
  margin-bottom: 20px;
}
.title {
  font-size: 50px;
}
.subtitle {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* header section css */
header {
  background: rgb(255, 144, 14, 0.1);
}
.heading {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.logo {
  padding-left: 20px;
}
.menu {
  display: flex;
}
nav ul {
  list-style: none;
}
nav li {
  padding-right: 20px;
}
.banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner .title,
.banner .subtitle {
  width: 50%;
}
.image img {
  width: 80%;
  padding-bottom: 30px;
}

/* ----features css---- */
.features {
  display: flex;
  margin: 110px;
  gap: 50px;
}
.text_feature {
  color: #ff900e;
}
.photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* -----Experience----- */
.experience {
  margin: 100px;
  display: flex;
  gap: 75px;
  height: 100%;
}
.left {
  padding: 10px;
}
.left .title {
  border-left: 3px solid #ff900e;
  padding-left: 20px;
}

.card {
  border: 1px solid rgb(245, 239, 239);
  padding: 10px;
  box-shadow: 5px 10px #ece7e7;
  margin: 20px 0px;
  border-radius: 5px;
}
.right {
  padding: 20px;
  height: 750px;
}
.right img {
  height: 100%;
}
.btn-secondary {
  background-color: #ff900e;
  padding: 20px 20px;
  color: white;
  border: 1px solid #ff900e;
  border-radius: 5px;
  margin-bottom: 20px;
  position: absolute;
  top: 2597px;
  left: 700px;
}
.year {
  font-size: 40px;
}

/* stat css */
.stat {
  margin: 100px;
}
.stat-box {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.box {
  border: 1px solid #ff900e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 30px;
}
.box img {
  padding-bottom: 15px;
}
.box h2 {
  padding-bottom: 10px;
}

/* sponsor css */
.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}
.sponsor .logo {
  display: flex;
  justify-content: space-between;
}
.sponsor .logo img {
  padding: 40px;
  filter: grayscale(100%);
}

/* -----contact section */
.contact-section {
  background: #f2e7d9;
  color: black;
  padding-bottom: 100px;
}
.flex-container {
  display: flex;
}
.contact {
  width: 50%;
  padding-top: 100px;
  padding-left: 150px;
}
.subscribe {
  padding-top: 100px;
  width: 50%;
  padding-left: 150px;
}
.email,
.phone {
  padding-top: 10px;
}
.title-contact {
  font-size: 30px;
  margin-bottom: 30px;
}
.title-subscribe {
  font-size: 30px;
  margin-bottom: 30px;
}
input {
  background-color: black;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 250px;
  color: white;
}

/* footer css */
footer {
  background-color: #fff4e7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 100px;
  height: 40px;
  border-radius: 5px;
}
